/* style.css */

* {
  font-family: sans-serif;
}

a:hover {
  text-decoration: none;
}

abbr,
code,
div.block,
em,
span,
strong,
time {
  background-color: lightblue;
  border: 3px solid black;
  padding: 2px 4px;
}

code.height {
  height: 40px;
}

code.marginBottom {
  margin-bottom: 40px;
}

code.marginTop {
  margin-top: 40px;
}

code.width {
  width: 60px;
}

div.block {
  margin: 5px 0;
  padding: 0px 10px;
}

div.block.third-width {
  margin-right: 0;
  width: 33%;
}

section {
  margin-top: 50px;
}

#inline-block :is(em, code) {
  display: inline-block;
}