/* styles.css */

*:not(code, .line) {
  font-family: sans-serif;
}

dd, dt {
  display: inline-block;
  margin-left: 15px;
}

dt {
  background-color: rgb(250, 250, 194);
  padding: 5px;
}

dt::after {
  content: ':';
  margin-left: 7px;
  position: absolute;
}

figure {
  background-color: rgb(222, 220, 220);
  border-radius: 4px;
  margin: 20px 0 20px 10px;
  padding: 15px;
  width: 550px;
}

figure>div.content {
  align-items: center;
  box-sizing: border-box;
  display: grid;
  justify-items: center;
  padding: 25px 0 15px 0;
}

figure>*:not(figcaption) {
  background-color: white;
}

figcaption {
  border-bottom: 2px solid white;
  padding-bottom: 20px;
}

figcaption {
  line-height: 1.4;
}

section {
  margin-top: 40px;
}

.example {
  border-radius: 4px;
  padding: 15px;
}