* {
  font-family: sans-serif;
}

body {
  margin-left: 20px;
}

button:hover {
  cursor: pointer;
}

button:not(:last-of-type) {
  margin-right: 5px;
}

h1 {
  margin-bottom: 40px;
}

p {
  margin: 8px 0;
}

#writeToFile {
  display: grid;
  column-gap: 10px;
  grid-template-areas: 
  'textarea textarea'
  'new loaded';
  margin-top: 40px;
  row-gap: 10px;
  width: 315px;
}

#writeToFile button {
  width: 100%;
}

#writeToFile textarea {
  box-sizing: border-box;
  grid-area: textarea;
  width: 100%;
}

#dragAndDrop {
  align-items: center;
  background-color: rgb(199, 199, 199);
  border-radius: 5px;
  display: grid;
  height: 120px;
  justify-items: center;
  margin-top: 40px;
  user-select: none;
  width: 315px;
}

#dragAndDrop:hover {
  cursor: default;
}

#dragAndDrop p {
  margin: 0;
}
