/* style.css */

* {
  font-family: sans-serif;
}

code {
  background-color: rgb(223, 223, 223);
  border-radius: 3px;
  padding: 2px 6px 4px 5px;
  font-family: monospace;
}

main {
  margin: 60px 0 0 20px;
}

main>p {
  font-size: 1.3rem;
  margin-top: 30px;
}

p>span {
  font-size: 1.4rem;
  font-weight: bold;
}

table {
  border: 2px solid black;
  margin-top: 20px;
  text-align: center;
  width: 250px;
}

td, th {
  padding: 5px;
}

td {
  border-top: 1px solid black;
}

td:first-child {
  border-right: 1px solid black;
}

.failed {
  color: red;
}

.passed {
  color: green;
}
