/* style.css */

* {
  font-family: sans-serif;
}

body {
  margin-left: 20px;
}

button:hover {
  cursor: pointer;
}

label {
  display: block;
  margin-bottom: 10px;
}

.token-header {
  color: rgb(251, 1, 91);
}

.token-payload {
  color: rgb(214, 58, 255);
}

.token-signature {
  color: rgb(0, 185, 241);
}

.token-header,
.token-payload,
.token-signature {
  font-weight: normal;
  overflow-wrap: break-word;
}

#getData {
  margin-top: 50px;
}

#getData output {
  color: red;
  display: block;
  margin-top: 15px;
}

#getData pre {
  color: black !important;
  line-height: 1.5;
  tab-size: 6;
}

#loginSection {
  margin-top: 50px;
}

#loginSection > p {
  font-weight: bold;
}

#serverResponse {
  margin-top: 50px;
}

#serverResponse output {
  font-weight: bold;
}

#token {
  display: block;
  margin-top: 10px;
  width: 400px;
}
