/* styles.css */

body {
  box-sizing: border-box;
  margin: 0 20px;
  padding: 15px;
}

h1,
h2 {
  font-size: revert !important;
  font-weight: revert !important;
  margin: 16px 0;
}

#native button {
  border-style: solid;
  border-width: 0px;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  padding: 8px 20px;
  /* colors */
  --primary: #3B82F6;
  --secondary: #6B7280;
  --warning: #F59E0B;
  --hazard: #EF4444;
  --success: #10B981;
}

#native button.primary,
#native button.primary:hover {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--primary);
}

#native button.secondary,
#native button.secondary:hover {
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--secondary);
}

#native button.warning,
#native button.warning:hover {
  background-color: var(--warning);
  border-color: var(--warning);
  color: var(--warning);
}

#native button.hazard,
#native button.hazard:hover {
  background-color: var(--hazard);
  border-color: var(--hazard);
  color: var(--hazard);
}

#native button.success,
#native button.success:hover {
  background-color: var(--success);
  border-color: var(--success);
  color: var(--success);
}

#native button.outline {
  background-color: white;
  border-width: 2px;
}

#native button:not(.outline),
#native button.outline:hover {
  color: white !important;
}

#native>p {
  font-size: 18px;
  font-weight: bold;
}

#native>p:last-of-type {
  margin-top: 16px;
}

section {
  margin-top: 60px;
}