/* style.css */

* {
  font-family: sans-serif;
}

form {
  column-gap: 5px;
  display: grid;
  grid-template-areas:
    'input input'
    'add delete';
  grid-template-columns: 1fr 1fr;
  row-gap: 5px;
  width: 310px;
}

form > button {
  height: 25px;
}

form > input[type='text'] {
  grid-area: input;
}

main {
  margin-left: 8px;
}

table {
  overflow: scroll;
  width: 310px;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 10px;
}

#localStorage {
  margin-top: 50px;
}
