/* style.css */

* {
  font-family: sans-serif;
}

button {
  cursor: pointer;
}

body.modal > header,
body.modal > main {
  filter: blur(3px);
  opacity: 0.3;
}

h1 {
  margin-bottom: 0px;
}

header,
main {
  text-align: justify;
  margin: 30px auto 0 auto;
  width: 600px;
}

header {
  margin-bottom: 60px;
}

header p {
  margin-top: 5px;
}

section h2 {
  margin-bottom: 5px;
}

section p {
  margin-top: 10px;
}

section:not(:first-of-type) {
  margin-top: 40px;
}

.hidden {
  display: none !important;
}

#buyNow {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 60%;
}

#buyNow > button {
  height: 30px;
  margin-left: 10px;
}

#buyNow > p {
  display: inline-block;
}

#modal {
  background-color: white;
  border-radius: 3px;
  display: block;
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.7));
  height: auto;
  max-width: 350px;
  text-align: center;
  padding: 20px;
  width: 90%;
}

#modalWrapper {
  align-items: center;
  display: grid;
  height: 96vh;
  justify-items: center;
  position: absolute;
  width: 98%;
  z-index: 2;
}
