/* main.css */

* {
  font-family: sans-serif;
}

body {
  margin-left: 20px;
}

figcaption {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 10px;
}

figure {
  margin: 0;
}

img {
  border-radius: 5px;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
  max-width: 1150px;
  width: 98%;
}

main {
  margin-bottom: 80px;
}

section {
  margin: 50px 0;
}

#img-wrapper {
  display: grid;
  margin-top: 30px;
  row-gap: 40px;
}