/* style.css */

* {
  font-family: sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
}

body>header {
  background-color: lightblue;
  border: 3px solid black;
  padding: 0 20px;
  position: sticky;
  top: 0;
}

main {
  margin-left: 10px;
  max-width: 800px;
  text-align: justify;
  width: 100%;
}

#some-content {
  height: 200px;
  max-width: 800px;
  text-align: justify;
  padding: 20px;
}