/* style.css */

* {
  font-family: 'Arial', sans-serif;
}

main {
  height: 350px;
  width: 300px;
}

main > form {
  display: flex;
  height: 25px;
  margin-top: 3px;
  width: 100%;
}

form > input {
  box-sizing: border-box;
  width: 100%;
}

form > button {
  box-sizing: border-box;
  margin: 0 0 0 3px;
  width: 85px;
}

.message {
  padding: 3px 0 3px 10px;
}

.server {
  color: red;
}

.you {
  color: blue;
}

#chat-log {
  display: flex;
  flex-direction: column;
  height: auto;
  max-height: 100%;
  overflow-y: scroll;
  width: 100%;
}

#chat-log-wrapper {
  align-items: flex-end;
  background-color: rgb(230, 230, 230);
  box-sizing: border-box;
  display: flex;
  height: 100%;
  padding: 5px 5px 5px 0;
  width: 100%;
}
