/* styles.css */

*:not(code, .line) {
  font-family: sans-serif;
}

body {
  margin: 0;
}

body>header {
  margin-left: 10px;
}

button {
  margin-bottom: 20px;
}

dd {
  margin: 10px 0 0 10px;
}

dd, dt {
  display: inline-block;
  margin-left: 15px;
}

div.avif {
  background-image: url('images/cat-small.avif');
}

dt {
  background-color: rgb(250, 250, 194);
  padding: 5px;
}

dt::after {
  content: ':';
  margin-left: 7px;
  position: absolute;
}

figure {
  background-color: rgb(222, 220, 220);
  border-radius: 4px;
  margin: 0;
  padding: 15px;
  width: 400px;
}

figure>div.content {
  align-items: center;
  box-sizing: border-box;
  display: grid;
  justify-items: center;
  padding: 25px 0 15px 0;
}

figure>*:not(figcaption) {
  background-color: white;
}

div img {
  margin-bottom: 10px;
  width: calc(100% - 60px);
}

figcaption {
  border-bottom: 2px solid white;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.4;
  padding-bottom: 20px;
}

main {
  margin-bottom: 50px;
}

section {
  box-sizing: border-box;
  display: block;
  margin-top: 40px;
  padding: 0 20px;
  width: 100%;
}

#examples-wrapper {
  box-sizing: border-box;
  column-gap: 20px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  width: calc(100% - 32px);
}

#section-description {
  max-width: 700px;
  width: 100%;
}