/* global.css */

* {
  font-family: sans-serif;
}

code {
  line-height: 1.45;
}

pre {
  border: 2px solid gray;
  border-radius: 4px;
  margin-top: 0;
  padding-right: 30px;
}

part-attribute {
  align-items: center;
  background-color: lightgray;
  border: 2px solid gray;
  border-radius: 4px;
  box-sizing: border-box;
  color: rgb(118, 118, 118);
  display: grid;
  height: 200px;
  justify-items: center;
  width: 400px;
}

/* Testing out the ::part selector on the web component */
part-attribute.blue::part(paragraph) {
  background-color: lightblue;
  border: 1px solid navy;
  border-radius: 4px;
  color: black;
  padding: 3px 7px;
}

span.className {
  color: rgb(71, 71, 176);
}

span.comment {
  color: rgb(74, 181, 74);
}

span.element {
  color: rgb(203, 38, 82);
}

span.highlight {
  background-color: yellow;
}

span.prop {
  color: rgb(97, 97, 97);
}

#btn-add-blue {
  grid-area: blue;
}

#btn-add-blue span {
  font-family: monospace;
  font-size: 0.8rem;
}

#btn-reset {
  grid-area: reset;
}

#demo-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: flex-start;
  width: 910px;
}

#shadow-btn-wrapper {
  align-items: center;
  column-gap: 10px;
  display: grid;
  justify-items: center;
  grid-template-areas:
    'open closed'
    'blue blue'
    'reset reset';
  margin-top: 10px;
  row-gap: 10px;
  width: 400px;
}

#shadow-btn-wrapper button {
  background-color: rgb(210, 210, 210);
  border: none;
  border-radius: 4px;
  height: 30px;
  transition: 0.2s ease all;
  width: 100%;
}

#shadow-btn-wrapper button:hover {
  cursor: pointer;
  background-color: rgb(187, 187, 187);
  transition: 0.2s ease all;
}

#shadow-btn-wrapper button[disabled]:hover {
  cursor: not-allowed;
  background-color: rgb(210, 210, 210);
  transition: none;
}