/* style.css */

* {
  font-family: sans-serif;
}

body>header, main {
  margin-left: 20px;
}

code, code>* {
  font-family: monospace;
  font-size: 1.5rem;
}

dialog {
  margin-left: 280px;
}

div[id|="box"] {
  border: 2px solid black;
  font-size: 1.2rem;
  padding: 0;
  text-align: left;
}

div[id|="box"]>p {
  margin: 12px 0 0 12px;
  padding: 0;
}

div[id|="overlay"] {
  background-color: white;
  opacity: 0.4;
}

fieldset {
  border: none;
  border-top: 1px solid rgb(181, 181, 181);
  column-gap: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 10px;
  margin-top: 20px;
  width: 450px;
}

fieldset label {
  justify-self: flex-end;
}

fieldset p {
  grid-column-start: 1;
  grid-column-end: 3;
  font-weight: bold;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 100px;
  width: 900px;
}

form>fieldset:nth-child(odd) {
  border-right: 1px solid gray;
}

form>fieldset>p:first-child {
  height: 18px;
  padding: 8px 0 5px 8px;
}

form>fieldset:nth-child(1)>p:first-child,
.title.content {
  background-color: #b4dfe9;
}

form>fieldset:nth-child(2)>p:first-child,
.title.padding {
  background-color: #c5de95;
}

form>fieldset:nth-child(3)>p:first-child,
.title.border {
  background-color: #fdf29b;
}

form>fieldset:nth-child(4)>p:first-child,
.title.margin {
  background-color: #f2b87b
}

section {
  margin-top: 50px;
}

/* Box Model Diagram */
section:nth-child(2) img {
  margin-top: 40px;
}

section:last-child {
  margin-top: 60px;
}

.answer {
  padding-left: 20px;
  max-width: 700px;
  line-height: 1.6;
}

.answer, .question {
  margin-left: 10px;
}

.modified {
  background-color: yellow;
  transition: none;
}

.question {
  font-style: italic;
  font-weight: bold;
  margin-top: 40px;
}

#box-border {
  background-color: hsl(40, 96%, 80%);
  height: 310px;
  width: 604px;
}

#box-border:hover {
  background-color: hsl(40, 96%, 80%) !important;
}

#box-border:hover::before {
  background-color: white;
  border: 2px solid gray;
  content: 'A border is what denotes the edge of an element, and separates the element from the margin. Unlike padding, a border can be styled in a many ways; border style (solid, dashed, dotted, etc), border color, and border width are all properties which can be modified.';
  display: block;
  line-height: 1.3;
  padding: 10px;
  position: absolute;
  text-align: left;
  margin-top: -134px;
  margin-left: 421px;
  width: 400px;
}

#box-content {
  background-color: hsl(192, 29%, 65%);
  border-style: dashed;
  height: 118px;
  width: 412px;
}

#box-content:hover {
  background-color: hsl(192, 29%, 65%) !important;
}

#box-content:hover::before {
  background-color: white;
  border: 2px solid gray;
  content: 'Content is the inner-most part of an element, it is (usually) the smallest possible box that that can be wrapped around the content written in by the developer. For text elements, this is the smallest possible box you can wrap around whatever font is being used (Note - a lot of fonts give their letters hard coded spacing, so it\'s not always to the exact edge of each letter). For images, this is usually just the smallest box that fits around the image.';
  display: block;
  line-height: 1.3;
  padding: 10px;
  position: absolute;
  text-align: left;
  margin-top: -164px;
  margin-left: 325px;
  width: 400px;
}

#box-margin {
  background-color: hsl(31, 85%, 75%);
  height: 406px;
  width: 700px;
}

#box-margin:hover {
  background-color: hsl(31, 85%, 75%) !important;
}

#box-margin:hover::before {
  background-color: white;
  border: 2px solid gray;
  content: 'The margin is the outermost part of the box model, it serves to give an element personal space from the elements around it. Visually it is separated from the element and helps to make up the bulk of the "white space" of most documents, but know that all margins are wrapped around an element somewhere.';
  display: block;
  line-height: 1.3;
  padding: 10px;
  position: absolute;
  text-align: left;
  margin-top: -160px;
  margin-left: 469px;
  width: 400px;
}

#box-padding {
  background-color: hsl(71, 42%, 68%);
  border-style: dashed;
  height: 214px;
  width: 508px;
}

#box-padding:hover {
  background-color: hsl(71, 42%, 68%) !important;
}

#box-padding:hover::before {
  background-color: white;
  border: 2px solid gray;
  content: 'Padding is what separates the content from its borders. It serves to make an element larger without having to actually modify the size of its content. Most of the time the padding will be the same background color as the content, which is why you cannot set a specific background-color for padding - it is an extension of the element.';
  display: block;
  line-height: 1.3;
  padding: 10px;
  position: absolute;
  text-align: left;
  margin-top: -183px;
  margin-left: 373px;
  width: 400px;
}

#wrapper-box {
  align-items: center;
  display: inline-grid;
  grid-template-areas: 'center';
  justify-items: center;
}

#wrapper-box:hover #box-border {
  background-color: hsl(40, 96%, 90%);
}

#wrapper-box:hover #box-content {
  background-color: hsl(192, 29%, 90%);
}

#wrapper-box:hover #box-margin {
  background-color: hsl(31, 88%, 90%);
}

#wrapper-box:hover #box-padding {
  background-color: hsl(71, 42%, 90%);
}

#wrapper-box>* {
  box-sizing: border-box;
  grid-area: center;
}

#code pre {
  background-color: rgb(233, 233, 233);
  display: inline-block;
  padding-right: 30px;
}

#content-wrapper {
  align-items: center;
  display: flex;
  justify-items: center;
}

#code pre span {
  transition: 0.2s ease all;
}

#demo-box {
  background-color: #99e3f5;
  border-color: #17282d;
  border-style: solid;
  border-width: 10px 10px 10px 10px;
  display: inline-block;
  height: 18px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  width: 200px;
}